#wrapper {
  width:100%;
  overflow:hidden;
}

header{
  position:fixed;
top:0;
left:0;
z-index:24;
width:100%;
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3480BD;
  color: snow;
}

#page-header--logo{
  cursor: pointer;

font-family: 'HanziPen TC', sans-serif;
}

.page-header--list ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header--list li{
	padding: 20px;
}

/*----------------------------------------
| page
----------------------------------------*/
.inr {
  width: 960px;
  margin: 0 auto;
}

/*----------------------------------------
| page-header
----------------------------------------*/

/* 横並びのスタイルをinrクラスに付け替える */
.page-header--inr {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container{

  width: 100%;
  margin: 0 auto;
}


.page-header--inr {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.page-footer { 
  padding: 40px 0; 
  background-color: #3480BD; 
  color: snow;
  } 

.page-footer small { 
  font-size: 1.2rem; 
}


.main-visual {
  position: relative;
  height: 900px;
  background: center center no-repeat;
  background-image: url(../img/8977f2dae48bcd67b37cbdfc4e4e7ba4_m.jpg);
  background-size: cover;
}

.main-visual--ttl {
  position: absolute;
  top: 50%;
  left: 50%;
  writing-mode: vertical-rl;
  color: #fff;
  font-weight: normal;
  font-size: 60px;
  font-family:fantasy; /*"YuGothic", "游ゴシック";*/
  transform: translate(-50%, -50%);
  display: none;
}

/*  .vertical1 {
  
  font-size: 60px;
  font-weight: 50px;
  float:left;
  padding: 210px 0px 0px 80px;
  font-family: fantasy;

}*/

.section-header { 
  position: relative; 
  padding: 30px 0; 
  text-align: center; 
  background: gray;
}

.section-header--ttl {
 color: #fff;
 font-weight: normal; 
 font-size: 30px; 
 } 

 .intro-section--header {
  margin-bottom: 100px;
   }


 .intro-section__nav {
  padding: 88px 0 80px;
}

.intro-section__nav ol {
  display: flex;
  justify-content: space-between;
}

.intro-section__nav ol li {
  position: relative;
}

.intro-section__nav ol li a {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 230px;
  height: 230px;
  padding: 0 25px;
  color: #000;
  font-size: 25px;
  border: 2px solid #000;
  border-radius: 50%;
}


/*左右交互並び*/

.intro-section__block {
  display: flex;
  height: 400px;
}

.intro-section__block > * {
  width: 50%;
}


.intro-section__block:nth-child(even) {
  flex-direction: row-reverse;
}

.intro-section__block:nth-child(1) .intro-section__img-area {
  background-image: url("../img/7c2e59ec5315f0f548dfd50882e786aa_s.jpg");
}

.intro-section__block:nth-child(2) .intro-section__img-area {
  background-image: url("../img/couple-731890_640.jpg");
}

.intro-section__block:nth-child(3) .intro-section__img-area {
  background-image: url("../img/72a286d81c190411a8dfc245357f9c72_s.jpg");
}

.intro-section__block:nth-child(4) .intro-section__img-area {
  background-image: url("../img/a16d7729250c0edb06ea518977fc5d75_s.jpg");
}

.intro-section__img-area {
  background: center center no-repeat;
  background-size: cover;
}

.intro-section__txt-area {
  box-sizing: border-box;
  color: snow;
  background-color: gray;
}

.intro-section__txt-area h4 {
  font-size: 1.8rem;
}

.intro-section__txt-area p {
  font-size: 1.6rem;
}  

.intro-section__contact {
  padding: 100px 0;
}


.contact-form {
  text-align:center;
  height: 500px;
  margin-top: 50px

}

.contact-submit {
  float: bottom;
  background-color: #dee7ec;
  color: #889eab;

}

input,textarea {
  width: 300px;
  margin: 10px 20px;
  font-size: 18px;
  padding: 10px;
}

#main-pro {
  background: #fff;
  margin: 0 auto;
  text-align: center;

}

 .main-pro__ttl{
  font-size: 35px;
  font-weight: bold;
  color: orange;
  margin-top: 50px;
  border-bottom: dashed 2px orange;
  display: inline-block;


}

.main-pro__contant{
  display: flex;
   justify-content: space-around;
    align-items: center; 
     flex-wrap: wrap; 
     align-content: center; 
  margin-top: 50px;
}

.textbox{
  margin: 20px 0 30px;
  width: 400px;
}

#main-love {
  margin-top: 50px;
}

.main-love__ttl{
  text-align: center;
  padding: 10px 0px 10px;
  color: orange;
  font-family: fantasy;
}


.main-love__pure{
  background: #60C0E0;
  height: 540px;
  padding: 30px 0px 40px;
  color: snow;

}

.clear{

}


.main-love__adult{
  background: black;
  color: snow;
  padding: 30px 0 20px;
}

#pure-while-adult{
  margin-top: 100px;
  background: black;


}

#farstStep{
  text-align: center;
}

.main-love__toDo h4{
  text-align: center;
  padding-bottom: 30px;
}

.toDo-list__section{
  float: left;
  width: 30%;
  padding-bottom: 40px;
  padding-right: 40px;
}


.toDo-list__section img{
  border-radius: 40%;
  margin-right: 20px;

}

.toDo-list__txt{
  width: 80%;
  margin: 0 auto;
}

.pure-attention{
  line-height: 60px;
  font-size: 30px;
  color: red;
  font-weight: bold;
  padding: 50px 0px 50px;
  text-align: center;

}

.adult-attention{
  font-size: 40px;
  font-weight: bold;
  color: pink;
  text-align: center;
  padding: 1300px 0px 0px;

}



.adult-contant{
  background-color: black;
  padding-top: 40px;
}


.adult-contants{
  display: flex;
 flex-direction: row;
  justify-content: space-between;
 
}


.adult-contant__txt{
  font-size: 15px;
  color: pink;
}

.adult-contant__img{
  width: 30%;
}

.adult-contant:nth-child(even) {
  flex-direction: row-reverse;
}
.adult-contant:nth-child(even) .adult-contant__txt {
  text-align: right;
}
.adult-contant:nth-child(even) .adult-contant__img {
  margin-left: 0;
  margin-right: 3%;
}



/*.contact-form {
  text-align:center;
  height: 500px;
  margin-top: 50px

}

.contact-submit {
  float: bottom;
  background-color: #dee7ec;
  color: #889eab;

}

input,textarea {
  width: 300px;
  margin: 10px 20px;
  font-size: 18px;
  padding: 10px;
}*/

/*.contact-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 55px;
  background: gray;
}

.contact-block__txt {
  font-size: 2rem;
}

.contact-block__txt span {
  display: block;
  font-size: 1.6rem;
}

.contact-block__btn {
  width: 370px;
  padding: 20px 0;
  color: #fff;
  font-size: 2rem;
  text-align: center;
  background: red;
}
*/


/*
.page-header {
  padding: 17px 0;
}*/


/*.page-header-info__txt {
  margin-right: 30px;
}*/

/*.page-header_info__btn {
  background-color: #ff0600;
  color: #fff;
}*/

/*
.page-header-info__txt {
  margin-right: 30px;
}*/

/* 縦並び 
/*.page-header-info__txt span {
  display: block;
  font-size: 1.4rem;
}

.page-header-info__btn {
  min-width: 155px;*/

  /* (height - (fontSize * lineHeight)) / 2 */
/*  padding: calc((50px - (1.6rem * 1.5)) / 2) 0;
  color: #fff;
  font-size: 1.6rem;
  text-align: center;
  background-color: #ff0600;
}*/


.section-header {
  position: relative;
  padding: calc((87px - (30px * 1.6)) / 2) 0;
  text-align: center;
  background: #aaa;
}

.section-header__ttl {
  color: #fff;
  font-weight: normal;
  font-size: 30px;
}

.section-header:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border-color: #aaa transparent transparent transparent;
  border-style: solid;
  border-width: 28px 28px 0;
  transform: translate(-50%, 100%);
  content: "";
}

.intro-section__nav {
  padding: 88px 0 80px;
}

.intro-section__nav ol {
  display: flex;
  justify-content: space-between;
  width: 810px;
  margin: 0 auto;
}

.intro-section__nav ol li {
  position: relative;
}

/* ナビゲーション内の矢印 */
.intro-section__nav ol li:after {
  position: absolute;
  bottom: 20px;
  left: 50%;
  width: 20px;
  height: 20px;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  transform: translateX(-50%) rotate(45deg);
  content: "";
}

.intro-section__nav ol li a {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 230px;
  height: 230px;
  padding: 0 25px;
  color: #000;
  font-size: 25px;
  line-height: 1.2;
  border: 2px solid #000;
  border-radius: 50%;
}


/* 文章エリア */
/*.intro-section__txt-area {
  box-sizing: border-box;
  padding: 30px 20px;
  color: #fff;
  background-color: #aaa;
}
*/
/* タイトル */
/*.intro-section__txt-area h4 {
  margin-bottom: 24px;
  font-weight: normal;
  font-size: 2rem;
  line-height: 1.5;
}*/

/* 文章 */
.intro-section__txt-area p {
  font-size: 1.6rem;
  line-height: 1.5;
}


.intro-section__contact {
  padding: 100px 0;
}

/*.contact-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 55px 40px 147px;
  background: #aaa;
}

.contact-block__txt {
  font-size: 2.2rem;
}

.contact-block__txt span {
  display: block;
  font-size: 1.4rem;
}

.contact-block__btn {
  width: 370px;
  padding: calc((83px - (2.2rem * 1.6)) / 2) 0;
  color: #fff;
  font-size: 2.2rem;
  text-align: center;
  background: red;
}*/

/*.page-footer {
  padding: 40px 0;
  background-color: #aaa;
}*/

.page-footer small {
  display: block;
  font-size: 1.2rem;
  line-height: 1;
}


/*SAMPLE*/


.adult-contant__box {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
}

.adult-contant__text {
  color: pink;
}

h3 {
  font-size: 21px;
  margin: 0;
}

.pict {
  width: 50%;
  margin-left: 3%;
}

.pict img {
  width: 100%;
  height:auto;
}

.adult-contant__box:nth-child(even) {
  flex-direction: row-reverse;
}
.adult-contant__box:nth-child(even) .text {
  text-align: right;
}
.adult-contant__box:nth-child(even) .pict {
  margin-left: 0;
  margin-right: 3%;
}


 .pict {
  opacity: 0;
  transform : translate(0, 50px);
  transition : all 1500ms;
}

.pict.scrollin{
  opacity: 1;
  transform: translate(0, 0);
}












